[submodule "FlameGraph-Analyzer"]
	path = FlameGraph-Analyzer
	url = https://github.com/bnwwnb/FlameGraph-Analyzer
[submodule "GitDir-Downloader"]
	path = GitDir-Downloader
	url = https://github.com/bnwwnb/GitDir-Downloader
[submodule "EPUB-CC"]
	path = EPUB-CC
	url = https://github.com/bnwwnb/EPUB-CC
